body {
    background-color:cadetblue; 
}
.projetos{
    border: 3px solid green;
    padding-left: 20px;
    transition: transform 0.3s ease;
}
.projetos:hover{
    transform: scale(1.1);
}
.cursos{
    border: 3px solid red;
    padding-left: 20px;
    transition: transform 0.3s ease;
}
.cursos:hover{
    transform: scale(1.1);
}
.texto{
    font-size: 18px;
}
.links{
    font-size: 25px;
    text-align: center;
}
.profission{
    font-size: 40px;
    text-align: center;
}
.imagem{
    width: 200px; 
    height: auto;
    transition: transform 0.3s ease;
}
.imagem:hover{
    transform: scale(1.1);
}
#projeto{
    font-size: 25px;
}
#curso{
    font-size: 25px;
}
#sobre-mim{
    font-size: 35px;
    text-align: center;
}
#texto_monitor{
    font-size: 24px;
}